ul, li{
    margin: 28px;
}

.body {
    font-family: 'PT Sans', sans-serif;
}

.navigation{
    background-color: rgba(32, 40, 70, 1);
    list-style: none;
    display: flex;
    justify-content: right;
    text-transform: uppercase;
    margin: 0px;
    font-size: 24px;
    height: 90px;
    color: rgba(255, 255, 255, 1);
 }

.logo{
    position: absolute;
    margin: 10px;
}

.earth{
    padding-left: 0px;
    margin: 10px 10px 10px 40px;
}

.ua{
    margin: 25px 20px 25px 0px;
}

.reshouse{
    background-color: rgba(198, 198, 220, 1);
    height: 140px;
    font-size: 48px;
    line-height: 120px;
    padding-left: 200px;
    font-style: italic;
}

.bacgrey{
    background-color: rgba(220, 220, 220, 1);
    height: 1900px;
    margin: 0px;
    padding: 50px 200px ;
    justify-content: right;
}

.changeplace{
    border: 0px; 
    background-color: rgba(232, 232, 232, 1);
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin-bottom: 50px;
    font-size: 28px;
    font-style: normal;
  }

.strilka{
   justify-content: right;
   float: right;
   margin-right: 20px;
}

.cardbacota{
    display: flex;
    background-color: rgba(189, 189, 198, 1);
}

.cardbacota:hover{
    background-color:rgba(174, 174, 226, 1)
}

.card1{
    margin: 50px 0px 50px 50px;
}

.fotobacota{
    margin: 50px 50px 40px 100px;
}

.nezbacota{
    margin: 10px 0px;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    border: 2px solid black;
    border:none;
    border-bottom: 3px solid white;
}

.opusbacota{
    padding: 20px 20px;
    height: 135px;
    text-align:center;
    background-color: rgba(215, 215, 221, 1);
    font-size: 20px;
}

.star1{margin: 20px 24px;
}

.star1 path:hover{
    fill: yellow;
}

.detalnishe1{
    border: 2px solid black;
    border-radius:40px 40px 40px 40px ;
    width: 170px;
    height: 55px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 677px;
    right: 170px;
    background-color: rgba(32, 40, 70, 1);
    line-height: 50px;
    justify-content: center;
}

.detalnishe1:hover{
background-color:rgba(239, 7, 91, 1)
}



.cardkarpatu{
    display: flex;
    background-color: rgba(189, 189, 198, 1);
    margin-top: 30px;
}

.cardkarpatu:hover{
    background-color:rgba(174, 174, 226, 1)
}

.card2{
    margin: 50px 0px 50px 50px;
}

.fotokarpatu{
    margin: 50px 50px 40px 100px;
}

.polonunukarpat{
    margin: 10px 0px;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    border: 2px solid black;
    border:none;
    border-bottom: 3px solid white;
}

.opuskarpat{
    padding: 18px 20px;
    height: 135px;
    text-align:center;
    background-color: rgba(215, 215, 221, 1);
    font-size: 20px;
}

.star2{margin: 20px 24px;
    
}
.star2 path:hover{
    fill: yellow;
}

.detalnishe2 {
    border: 2px solid black;
    border-radius:40px 40px 40px 40px ;
    width: 170px;
    height: 55px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1045px;
    right: 170px;
    background-color: rgba(32, 40, 70, 1);
    line-height: 50px;
    justify-content: center;
}

.detalnishe2:hover{
background-color:rgba(239, 7, 91, 1)
}


.cardkuiv{
    display: flex;
    background-color: rgba(189, 189, 198, 1);
    margin-top: 30px;
}

.cardkuiv:hover{
    background-color:rgba(174, 174, 226, 1)
}

.card3{
    margin: 50px 0px 50px 50px;
}

.fotokuiv{
    margin: 50px 50px 40px 100px;
}

.avtetkuiv{
    margin: 10px 0px;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
}

.opuskuiv{
    padding: 17px 20px;
    height: 135px;
    text-align:center;
    background-color: rgba(215, 215, 221, 1);
    font-size: 20px;
}

.star3{margin: 20px 24px;
    
}
.star3 path:hover{
    fill: yellow;
}

.detalnishe3{
    border: 2px solid black;
    border-radius:40px 40px 40px 40px ;
    width: 170px;
    height: 55px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1410px;
    right: 170px;
    background-color: rgba(32, 40, 70, 1);
    line-height: 50px;
    justify-content: center;
}

.detalnishe3:hover{
    background-color:rgba(239, 7, 91, 1)
}


.cardodesa{
    display: flex;
    background-color: rgba(189, 189, 198, 1);
    margin-top: 30px;
}

.cardodesa:hover{
    background-color:rgba(174, 174, 226, 1)
}

.card4{
    margin: 30px 0px 50px 50px;
}

.fotoodesa{
    margin: 50px 50px 40px 100px;
}

.netupovaodesa{
    margin: 10px 0px;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    border: 2px solid black;
    border:none;
    border-bottom: 3px solid white;
}

.opusodesa{
    padding: 10px 10px;
    height: 169px;
    text-align:center;
    background-color: rgba(215, 215, 221, 1);
    font-size: 20px;
}

.star4{margin: 20px 24px;
}

.star4 path:hover{
    fill: yellow;
}

.detalnishe4{
    border: 2px solid black;
    border-radius:40px 40px 40px 40px ;
    width: 170px;
    height: 55px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1779px;
    right: 170px;
    background-color: rgba(32, 40, 70, 1);
    line-height: 50px;
    justify-content: center;
}
     
.detalnishe4:hover{
    background-color:rgba(239, 7, 91, 1)
}
.naverh{
    position: absolute;
  line-height: 100px;
    text-align: center;
    top:1600px;
    right: 60px;
    border: 0px;
    border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: rgba(85, 87, 104, 0.62);
  font-size: 30px;
color:azure;
  
}